
html {
  height: 100%
}

body {
  height: 100%;
  margin: none;
  padding: none;
}

.container {
  height: 100%;
  margin: auto auto;
  padding: 5px;
  width: 98%;
  background-color: #AAAE8E;
  border-color: #582630;
  border-width: 2px;
  border-style: solid;
}

.row {
  background-color: #04395E;
  width: 100%;
  border: none;
}
#row-1 {
  height: 10%;
}


#game_title {
	margin-top: 0 auto;
	background-color: #426B69;
  align: left;
  border: none;
	align-content: center;
}

#game_exit {
	margin: auto auto;
  width: 33%;
	height: 100%;
  border: none;
	align-content: center;
}

#row-2 {
  height: 70%;
  margin: 1% auto;
  width: 100%;
  vertical-align: top;
}

#game_instructions {
  display: inline-block;
	width: 30%;
  margin-left: 1%;
  margin-top: 1%;
  height: 95%;
	background: #426B69;
	border-color: #D16014;
	border-width: 3px;
	border-style: solid;
	vertical-align: top;
  padding: 1%;
}

#game_table {
  width: 65%;
  margin: 2%;
  margin-top: 1%;
  margin-left: 2%;
  height: 95%;
  padding: 1%;
  border-color: #D16014;
	border-width: 5px;
	border-style: solid;
	vertical-align: top;
}

#game_table .row {
  align: center;
  display: block;
  height: 40%;
  width: auto;
  margin: 5%;
}

.game_hand {
  display: inline-block;
  background: #426B69;
  height: 160px;
  width: 150px;
  margin: 0 10%;
}

.game_card {
  display: inline-block;
  background: blue;
  height: 60%;
  width: 25%;
  margin: 20% 10%;
  padding: none;
  border-color: black;
  border-weight: 1px;
  text-align: center;
  vertical-align: center;
  
}

#row-3 {
  height: 15%;
  width: 100%;
  margin: 1% auto;
 	border-color: #D16014;
	border-width: 3px;
	border-style: solid;
}
#game_start {
  align: left;
  border: none;
}



